---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import backgroundImage from '../assets/background.webp';
import backgroundImageMobile from '../assets/background-mobile.png';
import linkedInLogo from '../assets/linkedin-logo.png';
import githubLogo from '../assets/github-logo.svg';
---

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
<Layout title="Welcome to Astro.">
    <div class="relative h-screen w-screen">
        <img src={backgroundImage.src}
             sizes="(max-width: 600px) 480px, 800px"
             srcset={`${backgroundImageMobile.src} 1133w, ${backgroundImage.src} 1792w`}
             alt="background of me" class="bg-cover h-full w-full object-cover" />
        <div class="absolute top-0 left-0 ml-20 mt-36 w-1/2 text-background text-lg">
            <div class="text-6xl font-bold mb-10">
                Hi, I'm Miki Pokryvailo
            </div>
            <div class="mt-4 w-3/4">
                I’m a software engineer based in NYC. I mainly work on backend/infra, and I’m happiest when working on early-stage, ambiguous problems. I like figuring things out.
                <br /><br />
                I was the first engineer at Nile, worked at Madhive, and Confluent.
                <br /><br />
                Outside of work, I’m a home-renowned chef, I work at a stealth startup 🥷, and blog about random stuff.
                <br /><br />
                You can reach me at "mpokryva" at "gmail" dot com.
            </div>
        </div>
        <div class="absolute bottom-0 right-0 mr-5 mb-5 flex space-x-4">
            <a href="https://linkedin.com/in/miki-pokryvailo/" target="_blank" class="rounded-md clickable-image">
                <Image class="max-w-10 max-h-10" src={linkedInLogo} alt="linkedin logo"></Image>
            </a>
            <a href="https://github.com/mpokryva" target="_blank" class="rounded-full clickable-image">
                <Image class="max-w-10 max-h-10" src={githubLogo} alt="linkedin logo"></Image>
            </a>
        </div>
    </div>
</Layout>

<style>
    body {
        font-family: 'Lora', sans-serif;
        -webkit-font-smoothing: antialiased;
    }

    a.clickable-image {
        padding: 5px; /* Padding to ensure background is visible */
    }

    a.clickable-image:hover {
        background-color: rgba(211, 211, 211, 0.3); /* Light gray background with slight transparency */
        display: inline-block;
    }

    .text-background {
        color: #E0FFFF;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Soft shadow for readability */
        //letter-spacing: 0.5px; /* Slight letter spacing for readability */
    }

    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        font-size: 20px;
        line-height: 1.6;
    }

    .lato-thin {
        font-family: "Lato", sans-serif;
        font-weight: 100;
        font-style: normal;
    }

    .lato-light {
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .lato-regular {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .lato-bold {
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .lato-black {
        font-family: "Lato", sans-serif;
        font-weight: 900;
        font-style: normal;
    }

    .lato-thin-italic {
        font-family: "Lato", sans-serif;
        font-weight: 100;
        font-style: italic;
    }

    .lato-light-italic {
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-style: italic;
    }

    .lato-regular-italic {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: italic;
    }

    .lato-bold-italic {
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-style: italic;
    }

    .lato-black-italic {
        font-family: "Lato", sans-serif;
        font-weight: 900;
        font-style: italic;
    }
</style>
